<div class="row">

	<div id="login" class="col-md-4 col-md-offset-4">
		<div id="login-title">
			<h1>Welcome Back.</h1>
		</div>

		<form id="login-form" ng-submit="login.doLogin()">
				
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" ng-model="login.loginData.username">
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="login.loginData.password">
			</div>

			<div class="alert alert-danger" ng-if="login.error">
				{{ login.error }}
			</div>

			<button type="submit" id="login-button" class="btn btn-block btn-primary">
				<span ng-if="!login.processing">LOGIN</span>
				<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
			</button>

		</form>

		<hr>

		<p id="sign-up">Don't have an account? <a href="/signup">Create an account.</a></p>

	</div>
</div>